body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  gap: 200px;
}

.left h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.cookie-image {
  width: 300px;
}

.cookie-image:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cookie-image:active {
  opacity: 0.8;
  transform: scale(1.02)
}

.upgrade {
  display: flex;
}

.upgrade-img {
  width: 55px
}

.cookie-img {
  width: 20px;
}